<a href="https://colab.research.google.com/github/HayunJin/open_api/blob/main/%EC%98%81%ED%99%94%EC%A7%84%ED%9D%A5%EC%9C%84%EC%9B%90%ED%9A%8C_%EC%9D%BC%EB%B3%84%EB%B0%95%EC%8A%A4%EC%98%A4%ED%94%BC%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
# 영화진흥위원회_일별박스오피스
# https://www.kobis.or.kr/kobisopenapi/homepg/apiservice/searchServiceInfo.do

import requests
import json
import pandas as pd
import datetime
from datetime import timedelta

# 0105001
url = 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key={}&targetDt={}&wideAreaCd=0105001'

In [51]:
# 임시 테이블 생성
tmp = pd.DataFrame(columns = ['audiAcc','audiChange','audiCnt','audiInten','movieCd','movieNm','openDt','rank','rankInten','rankOldAndNew','rnum','salesAcc','salesAmt','salesChange','salesInten','salesShare','scrnCnt','showCnt','targetDt'])

In [54]:
def get_daily_box_office(std_date, i):
    target_dt = (std_date + timedelta(days=i)).strftime("%Y%m%d")
    print(target_dt)
    res = requests.get(url.format("[key값]", target_dt))
    text = res.text

    d = json.loads(text) 
    movie = []

    for b in d['boxOfficeResult']['dailyBoxOfficeList']:
        movie.append([  b['audiAcc'],
                        b['audiChange'],
                        b['audiCnt'],
                        b['audiInten'],
                        b['movieCd'],
                        b['movieNm'],
                        b['openDt'],
                        b['rank'],
                        b['rankInten'],
                        b['rankOldAndNew'],
                        b['rnum'],
                        b['salesAcc'],
                        b['salesAmt'],
                        b['salesChange'],
                        b['salesInten'],
                        b['salesShare'],
                        b['scrnCnt'],
                        b['showCnt']
                        ])
    df = pd.DataFrame(movie,columns = ['audiAcc','audiChange','audiCnt','audiInten','movieCd','movieNm','openDt','rank','rankInten','rankOldAndNew','rnum','salesAcc','salesAmt','salesChange','salesInten','salesShare','scrnCnt','showCnt'])
    df['targetDt'] = target_dt
    return df

In [55]:
## std_date = datetime.datetime.strptime('조회 시작일', '%Y-%m-%d')
## for i in range(0,조회 하려는 일자 수):
#     tmp = tmp.append(get_daily_box_office(std_date, i))
##
## 예: 조회시작일이 2020-01-01, range(0,2) 인 경우 2020-01-01과 2020-01-02 이틀 조회

std_date = datetime.datetime.strptime('2020-01-01', '%Y-%m-%d')
for i in range(0,2):
    tmp = tmp.append(get_daily_box_office(std_date, i))

20200101
20200102

In [57]:
tmp.describe().T

              count unique         top freq
audiAcc          20     20     1419125    1
audiChange       20     19         100    2
audiCnt          20     20       11845    1
audiInten        20     20       32353    1
movieCd          20     11    20198430    2
movieNm          20     11          시동    2
openDt           20      9  2019-12-19    4
rank             20     10           8    2
rankInten        20      3           0   17
rankOldAndNew    20      2         OLD   18
rnum             20     10           8    2
salesAcc         20     20  2610606940    1
salesAmt         20     20    23566400    1
salesChange      20     19         100    2
salesInten       20     20  -131715020    1
salesShare       20     18         2.8    2
scrnCnt          20     20         121    1
showCnt          20     20         602    1
targetDt         20      2    20200101   10